/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: #f9b807;
  --first-color-light: hsl(38, 100%, 78%);
  --first-color-alt: hsl(0, 0%, 100%);
  --second-color: #383d3f;
  --dark-color: hsl(212, 40%, 12%);
  --white-color: hsl(212, 4%, 95%);
  --body-color: #fdf4ce;
  --container-color: hsl(0, 0%, 100%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Montserrat", sans-serif;
  --h2-font-size: 1.25rem;
  --normal-font-size: 1rem;
}

/*=============== LINKS ===============*/
.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 160px); /* Adjust height based on header and footer */
  text-align: center;
}

.links-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.link-button {
  display: inline-block;
  background-color: white;
  border: 0.1rem solid var(--first-color); /* Adjust border width and type */
  padding: 0.75rem 1.5rem;
  border-radius: 2rem;
  color: var(--dark-color);
  font-weight: 600;
  box-sizing: border-box; /* Ensure padding and border are included in width/height */
  margin-bottom: 1rem;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.link-button:hover {
  background-color: var(--first-color);
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--white-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.content {
  flex: 1; /* This makes the content take up the remaining space */
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== HEADER ===============*/

.header {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem 0;
  border-bottom: 1px solid #f7ae2fff; 
  position: relative;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: center; /* Center the content */
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
  position: relative; /* Allow absolute positioning of the logo */
}

.header__title {
  font-size: 40px;
  font-weight: bold;
  color: var(--dark-color);
  text-align: center; /* Center text within the element */
}

.header__logo {
  position: absolute; /* Position logo absolutely */
  left: 2rem; /* Align it to the left with some padding */
}

.header__img {
  max-height: 50px;
}


/*=============== CARD ===============*/
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.card__container {
  padding-block: 4rem;
}

.card__content {
  margin-inline: 1.75rem;
  border-radius: 1.25rem;
  overflow: hidden;
}

.card__article {
  width: 300px; /* Remove after adding swiper js */
  border-radius: 1.25rem;
  overflow: hidden;
}

.card__image {
  position: relative;
  overflow: hidden; /* Ensure the image doesn't overflow its container */
  z-index: 100;
}

.card__data {
  background-color: var(--container-color);
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  text-align: left;
  position: relative;
  z-index: 10;
  margin-top: -0.5rem;
}

.card__img {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 5;
}

.card__shadow {
  width: 200px;
  height: 200px;
  background-color: var(--first-color-alt);
  border-radius: 50%;
  position: absolute;
  top: 3.75rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  filter: blur(45px);
}

.card__name {
  font-size: var(--h2-font-size);
  color: var(--second-color);
  margin-bottom: 30px;
  margin-top: 10px;
}

.card__location {
  font-weight: 500;
  color: var(--second-color);
  margin-bottom: 1.75rem;
  display: flex;
  align-items: center; /* Align icon and text vertically */
}

.card__participant {
  font-weight: 500;
  color: var(--second-color);
  margin-bottom: 2rem;
  display: flex;
  z-index: 100;
}

.location-icon {
  width: 1em; /* Match the icon size to the font size */
  height: 1em;
  margin-right: 0.5em; /* Space between icon and text */
}

.card__button {
  display: inline-block;
  background-color: white;
  border: 0.1rem solid var(--first-color); /* Adjust border width and type */
  padding: 0.75rem 1.5rem;
  border-radius: 2rem;
  color: var(--dark-color);
  font-weight: 600;
  box-sizing: border-box; /* Ensure padding and border are included in width/height */
  margin-bottom: 1rem;
}

.card__button:hover {
  background-color: var(--first-color);
}

.card__description {
  display: none; /* Hide the element by default */
  font-weight: 500;
  color: var(--second-color);
  margin-bottom: 1rem;
}


/* Show the description on hover or focus */
.card__article:hover .card__description,
.card__article:focus .card__description {
  display: block;
}

.card__organisateur {
  display: none; /* Hide the element by default */
  font-weight: 400;
  color: var(--second-color);
  margin-bottom: 1rem;
}

/* Show the description on hover or focus */
.card__article:hover .card__organisateur,
.card__article:focus .card__organisateur {
  display: block;
}

/* Swiper class */
.swiper-button-prev:after,
.swiper-button-next:after {
  content: "";
}

.swiper-button-prev,
.swiper-button-next {
  width: initial;
  height: initial;
  font-size: 3rem;
  color: var(--second-color);
  display: block;
  opacity: 1; /* Ensure buttons are visible */
  z-index: 10; /* Ensure buttons are above other elements */
  position: absolute; /* Ensure they are positioned absolutely */
  top: 50%; /* Center vertically */
  transform: translateY(-50%); /* Center vertically */
}

.swiper-button-prev {
  left: 0;
}

.swiper-button-next {
  right: 0;
}

.swiper-pagination-bullet {
  background-color: hsl(212, 32%, 40%);
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: var(--second-color);
}

/*=============== FOOTER ===============*/

.footer-section {
  background-color: #f1f1f1;
  padding: 10px 0;
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* Fix the footer at the bottom of the viewport */
  bottom: 0;
  width: 100%; /* Make sure the footer takes the full width of the viewport */
}

.footer-section img {
  max-height: 30px;
  margin: 0 10px;
}

/*=============== TITLE ===============*/

.title-container {
  padding-top: 30px;
  text-align: center;
}

.card-slider-title {
  color: black; /* White text color */
  font-size: 2.5rem;
  font-weight: 500;
}


/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 768px) {

  .swiper-button-prev {
    left: 3rem;
  }

  .swiper-button-next {
    right: 3rem;
  }
  
  .card__container {
    max-height: calc(100vh - 60px); /* Adjust the height to avoid footer overlap */
    padding-top: 1rem;
    margin-bottom: 1rem; /* Increase space between the card slider and the footer */
  }

  .header__img {
    max-height: 30px;
  }
  .header__title {
    font-size: 20px;
    margin-left: 40px;
    padding-left: 30px;
  }

  .card-slider-title {
    font-size: 1.25rem; /* Reduce font size for small devices */
  }

  .card__article {
    max-height: 100%; /* Ensure the card article doesn't exceed the container height */
  }

  .card__name {
    font-size: 1rem; /* Reduce font size for small devices */
    margin-bottom: 10px; /* Adjust margin as needed */
  }

  .card__location {
    font-size: 0.875rem; /* Reduce font size for small devices */
    margin-bottom: 1rem; /* Adjust margin as needed */
  }

  .card__button {
    font-size: 0.875rem; /* Reduce font size for small devices */
    padding: 0.5rem 1rem; /* Adjust padding as needed */
  }

  .card__description {
    font-size: 0.8rem; /* Reduce font size for small devices */
  }

  .card__data {
    padding: 1rem;
  }
}

/* For medium devices */
@media screen and (min-width: 768px) {
  .card__content {
    margin-inline: 3rem;
  }

  .header__title {
    font-size: 30px;
    margin-left: 40px;
    padding-left: 30px;
  }
  .card-slider-title {
    font-size: 1.75rem; /* Reduce font size for small devices */
  }
  

  .card__description {
    font-size: 1rem; /* Reduce font size for small devices */
  }
}

/* For large devices */
@media screen and (min-width: 1120px) {
  .card__container {
    max-width: 1120px;
  }

  .swiper-button-prev {
    left: -1rem;
  }

  .swiper-button-next {
    right: -1rem;
  }

  .card__description {
    font-size: 1rem; /* Reduce font size for small devices */
  }

  .card__name {
    font-size: 1.5rem; /* Increase font size for large devices */
  }

  .card__location {
    font-size: 1.25rem; /* Increase font size for large devices */
  }
}
